@font-face {
    font-family: 'archiasemibold';
    src: url('/fonts/archia-semibold-webfont.eot');
    src: url('/fonts/archia-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/archia-semibold-webfont.woff2') format('woff2'),
         url('/fonts/archia-semibold-webfont.woff') format('woff'),
         url('/fonts/archia-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'archialight';
    src: url('/fonts/archia-light-webfont.eot');
    src: url('/fonts/archia-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/archia-light-webfont.woff2') format('woff2'),
         url('/fonts/archia-light-webfont.woff') format('woff'),
         url('/fonts/archia-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


:root {
    --primary-color: #ff4500;
    --background-color: #01253e;
}

body {
    font-family: 'archialight', Helevetica, Arial, sans-serif;
    color: var(--primary-color);
    background-color: var(--background-color);
}

header {
    display:flex;
    font-family: 'archiasemibold';
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 2em;
}

.logo {
    height:50px;
}

.subtitle {
    padding-left:2em;
    font-family: 'archialight', Helevetica, Arial, sans-serif;
    font-size:medium;
}

#breaking {
    display: flex;
    min-height: 40vh;
    flex-wrap: wrap;
    justify-content: center;
    padding-left:45px;
    padding-right:45px;
}

#breaking article {
    width: 300px;
    padding: 1em;
    border: 1px solid;
    display:flex;
    flex-direction: column;
}

#breaking .newUpdate {
    border: 1px dotted;
}

#breaking article h2 {
    flex-grow: 2;
}

.icon {
    max-height: 50px;
}

aside {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 1em;
    border: 1px solid;
}

aside a {
    color:var(--background-color);
    text-decoration: none;
}

aside a:visited {
    color: var(--background-color);
}

aside a:hover {
    text-decoration: underline;
}

a {
    color: var(--primary-color);
}

a:visited {
    color: var(--primary-color);
}

button {
    color: var(--background-color);
    background-color: var(--primary-color);
    border-radius: 2px;
    font-size: medium;
    font-family: 'archialight', Helvetica, sans-serif;
}

button:disabled {
    background-color: gray;
}

#controls {
    margin-top: 2em;
    padding-left:45px;
    padding-right:45px;
}

footer section {
    border-top: solid 2px;
    margin-top:5em;
    padding-top:1em;
    padding-left:45px;
    padding-right:45px;
    display: flex;
}

footer article {
    padding-left:1em;
    padding-right:1em;
    flex-grow: 1;
    text-align: center;
}